{% extends 'base.html.twig' %}


{% block body %}

    {% embed "include/embed/portlet.html.twig" %}
        {% block portlet_body %}

             {% if result is defined %}
                 <h1>Import Results</h1>

                 Errors: {{ result.errorCount }}<br>
                 Rows: {{ result.items|length }}


                 <table class="table">
                     <tr>
                         <th>#</th>
                         {% for importColumn in definitionBuilder.configuration %}
                             <th>{{ importColumn.accessorPath }}</th>
                         {% endfor %}
                         <th>errors</th>
                     </tr>
                     {% for importResult in result.items %}
                         <tr>
                         <td>{{ loop.index }}</td>
                         {% for importColumn in definitionBuilder.configuration %}

                             <td>
                                 {{ importColumn.format(attribute(importResult.entity, importColumn.accessorPath)) }}
                             </td>
                         {% endfor %}
                         <td>
                             {% if importResult.errors %}
                                 <ul>
                                     {% for violation in importResult.errors %}
                                         <li>
                                             {{ violation }}
                                         </li>
                                     {% endfor %}
                                 </ul>
                             {% endif %}
                         </td
                         </tr>
                     {% endfor %}
                 </table>

             {% endif %}


            {% if result is not defined or form.simulate.vars.data or (result is defined and result.errors) %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group row">
                <button class="btn btn-primary pull-right" type="submit">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
            {% endif %}

            <h1>Definition</h1>

            <table class="table">
                <tr>
                    <th>col-name</th>
                    <th>required</th>
                    <th>allowed values</th>
                </tr>
            {% for importColumn in definitionBuilder.configuration %}
                <tr>
                    {% if importColumn.help %}
                    <td rowspan="2">
                    {% else  %}
                    <td>
                    {% endif  %}
                    <b>{{ importColumn.acronym }}</b></td>
                    <td>{% if importColumn.required %}yes{% else %}no{% endif %}</td>
                    <td>{% for allowedValue in importColumn.allowedValues %}
                            {{ allowedValue }}<br>
                        {% endfor %}
                    </td>
                </tr>
                {% if importColumn.help %}
                    <tr><td colspan="2">{{ importColumn.help }}</td></tr>
                {% endif  %}

            {% endfor %}
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}



